.portfolio{
    padding: 30px 130px 100px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.portfolio-header{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: center;
    color: #74C69D;
}

.portfolio-title{
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.portfolio-desc{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.portfolio-projects{
    margin: 80px 0px 60px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    /* ga */
}

.learn-more{
    width: 170px;
    height: 48px;    
    background-color: black;
    color: white;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .portfolio{
        padding: 30px 30px 100px 30px;
    }

    .portfolio-title{
        font-size: 24px;
        line-height: 40px;
    }

    .portfolio-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .portfolio-project{
        width: 100%;
    }
    
}